@model Library_Management_System_By_Nausif_AND_Mohsin.Models.Member

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Member</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Member_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Member_FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_FirstName)
                @Html.ValidationMessageFor(model => model.Member_FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_LastName)
                @Html.ValidationMessageFor(model => model.Member_LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_Type_ID, "Member Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Member_Type_ID", "Select Type")
                @Html.ValidationMessageFor(model => model.Member_Type_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_Password)
                @Html.ValidationMessageFor(model => model.Member_Password)
            </div>
        </div>

        


        <div class="form-group">
            @Html.LabelFor(model => model.Member_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_Address)
                @Html.ValidationMessageFor(model => model.Member_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_Registered_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => (model.Member_Registered_Date), new { Value = Model.Member_Registered_Date.ToString("dd-MM-yyyy"), @readonly = "readonly" })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_Phone)
                @Html.ValidationMessageFor(model => model.Member_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_Email)
                @Html.ValidationMessageFor(model => model.Member_Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Member_Gender, "Male") @Html.Label("MALE") &nbsp&nbsp
                @Html.RadioButtonFor(model => model.Member_Gender, "Female") @Html.Label("FEMALE")
                @Html.ValidationMessageFor(model => model.Member_Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Member_DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Member_DOB)
                @Html.ValidationMessageFor(model => model.Member_DOB)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


