@model IEnumerable<Library_Management_System_By_Nausif_AND_Mohsin.Models.Book_Edition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Published_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Edition1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Book_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.Publisher_Name)
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book_ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Published_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Edition1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Book_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.Publisher_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Book_ISBN }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Book_ISBN })
        </td>
    </tr>
}

</table>
