@model IEnumerable<Library_Management_System_By_Nausif_AND_Mohsin.Models.Book_Acc_Code>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Book Accession")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Edition.Book_ISBN)
        </th>
        <th>
            @Html.DisplayName("Book Name")
        </th>
        <th>
            @Html.DisplayName("Book Edition")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Acc_Code1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Edition.Book_ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Edition.Book.Book_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Edition.Book_Edition1)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Book_Acc_Code1 })
        </td>
    </tr>
}

</table>
