@model IEnumerable<Library_Management_System_By_Nausif_AND_Mohsin.Models.Book_Borrow_Return>

@{
    ViewBag.Title = "Book Borrow Return";
}

<p>
    @Html.ActionLink("Book Issue", "Create", null, new { @class = "btn bg-navy margin" })
    @Html.ActionLink("Return Book", "Return", null, new { @class = "btn bg-orange margin" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Full Name")

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrow_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Acc_Code1.Book_Acc_Code1)
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.Fine_Charge)
        </th>
        <th>
            @Html.DisplayName("Update Fine")
        </th>
        <th>
            @Html.DisplayName("Is Returned")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Member_FirstName)
                @Html.DisplayFor(modelItem => item.Member.Member_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrow_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Due_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Acc_Code1.Book_Acc_Code1)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine_Charge)
            </td>
            <td>
                @Html.ActionLink("Update", "edit", new { id = item.Book_Borrow_ID }, new { @class = "btn btn-primary btn-xs"})
            </td>
            
            <td>
                @if (item.Return_Date == null)
                {
                    @Html.Label("No", new { @class = "label label-danger" })
                }
                else
                {@Html.Label("Yes", new { @class = "label label-success" })}
                
                
            </td>

        </tr>
    }

</table>
