@model Library_Management_System_By_Nausif_AND_Mohsin.Models.Member_Type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member_Type</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member_Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Type_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Member_Type_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
