@model Library_Management_System_By_Nausif_AND_Mohsin.Models.Publisher

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Publisher</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher_Name)
                @Html.ValidationMessageFor(model => model.Publisher_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher_Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher_Email)
                @Html.ValidationMessageFor(model => model.Publisher_Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.publisher_Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.publisher_Phone)
                @Html.ValidationMessageFor(model => model.publisher_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher_Address)
                @Html.ValidationMessageFor(model => model.Publisher_Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


    

