@model IEnumerable<Library_Management_System_By_Nausif_AND_Mohsin.Models.Book_Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add_Author")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayName("Author ID")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Edition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Edition)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id1 = item.ISBN, id2 = item.Author_ID,id3 = item.Author_Name,id4=item.Book_Name,id5=item.Book_Edition })
        </td>
    </tr>
}

</table>
