@model IEnumerable<Library_Management_System_By_Nausif_AND_Mohsin.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Book_ID })
        </td>
    </tr>
}

</table>
